---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.co.uk/citations?user=pWzUNKIAAAAJ&hl=en&oi=ao}}">my Google Scholar profile</a>.</div>
{% endif %}
<!-- <p>Add `media_type` (`image` or `video`) and `media` in each publication front matter to control the left media panel.</p> -->

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include publication-card.html post=post %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include publication-card.html post=post %}
  {% endfor %}
{% endif %}


